body {
  background-color: #ada;
}

#stats {
  position: absolute;
  right: 15px;
}

#stats .amount {
  font-size: 26px;
}

#flash_notice {
    background-color: #4f4;
}

#footer {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/images/tomato.png');
  background-repeat: no-repeat;
}

#wrapper {
  width: 700px;
  margin: 0px auto;
}

#content {
  clear: both;
  position: relative;
  background-color: white;

  text-align: left;
  padding: 15px 50px;
  box-shadow: 5px 5px 10px #555;
}

.navigation {
  padding: 0;
  margin: 0 0 0 10px;
}

.navigation li {
  float: left;
  display: inline;
  list-style-type: none;

  margin: 5px;
  padding: 3px;
}

.navigation.actions li {
  border: none
}

td {
  padding: 5px;
}

tr.odd {
  background-color: #eee;
}


form#new_transaction {
  padding: 5px;
  border: solid black 1px;
}

form#new_transaction h3 {
  border-bottom: dotted black 1px;
}

fieldset {
  margin: none;
  padding: none;
  border: none;
}

.help {
  color: #999;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0;
}

#new_transaction .field .help {
  margin-left: 25px;
}

.total {
  border-top: solid black 1px;
}

th.total {
  text-align: left;
}

td.money {
  text-align: right;
  white-space: nowrap;
}


