/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require normalize
 *= require scaffold
 *= require_tree .
 *= require_self
 */

body {
  background-color: #ada;
}

#stats .amount {
  font-size: 26px;
}

#flash_notice {
  background-color: #4f4;
}

#footer {
  margin-top: 30px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/images/tomato.png');
  background-repeat: no-repeat;
}

#version_banner {
  margin-top: 10px;
  font-size: 10px;
  text-align: right;
}

#wrapper {
  width: 700px;
  margin: 0px auto;
}

#content {
  clear: both;
  position: relative;
  background-color: white;
  border-radius: 2px;

  text-align: left;
  padding: 15px 50px;
  box-shadow: 0px 0px 15px #555;
}

.navigation {
  padding: 0;
  margin: 0 0 0 10px;
}

.navigation li {
  float: left;
  display: inline;
  list-style-type: none;

  margin: 5px;
  padding: 3px;
}

.navigation.actions li {
  border: none
}

td {
  padding: 5px;
}

tr.odd {
  background-color: #eee;
}


form#new_transaction {
  padding: 5px;
  border: solid black 1px;
}

form#new_transaction h3 {
  border-bottom: dotted black 1px;
}

fieldset {
  margin: none;
  padding: none;
  border: none;
}

.help {
  color: #999;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0;
}

#new_transaction .field .help {
  margin-left: 25px;
}

.total {
  border-top: solid black 1px;
}

th.total {
  text-align: left;
}

.pagination {
  text-align: center;
  word-spacing: 4px;
}

.money {
  text-align: right;
  white-space: nowrap;
}

input[type=text], input[type=email], input[type=password] {
  margin-bottom: 20px;
}

input[type=submit] {
  margin: 20px 0;
}

h2 {
  margin-bottom: 30px; 
}

h1 {
  margin-bottom: 40px;
}

#filter {
  float: right;
}

#filter input[type=text] {
  width: 120px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.balloon {
  margin-left: 250px;
  font: normal 44px/0.9 Constantia,Palatino,"Palatino Linotype","Palatino LT STD","Times New Roman",serif;
  width: 10em;
}
.balloon > div {
  background: #222;
}
.balloon .content {
  color: #fff;
  line-height: 1.2em;
  padding: 1em;
  text-align:center;
  border-radius: 1em;
  margin-left: 45px;
}
.balloon .pointer {
  height: 1em;
  float:left;
  width: 45px;
  height: 400px;
}
.balloon .pointer span {
  background-color: #ada;
  width: 100%;
}
.balloon .pointer .top {
  height: 25%;
  border-bottom-right-radius: 50px;
  float: left;
}
.balloon .pointer .bottom {
  height: 75%;
  border-top-right-radius: 1em;
  float: left;
}
.void-transaction {
  text-decoration:line-through;
}
.old_household{
  display:none;
}
