<h1>All transactions</h1>

<% if @transactions.empty? %>
  <p>
  There are no transactions yet.
  </p>
<% else %>
  <%= render partial: 'list', locals: { transactions: @transactions, print_household: true } %>
  <%= will_paginate @transactions %>
<% end %>
