<h1>Editing transaction memo</h1>
<b>Created:</b><%= @transaction.created_at %>
<%= render 'form' %>

<%= link_to 'Show', household_transaction_path(@household, @transaction) %> |
<%= link_to 'Back', household_transactions_path(@household) %>
