<h1>Transactions</h1>
<p>for the <%= link_to "household of #{@household.to_s}", @household %></p>
<p>
  <strong>balance:</strong>
  <%= sprintf("$%.2f", @household.balance) %>
</p>
<% if @transactions.empty? %>
  <p>
  There are no transactions for this household yet.
  </p>
<% else %>
  <%= render partial: 'list', locals: { transactions: @transactions, print_household: false } %>
<% end %>
<br />

<%= link_to 'Back to household', @household %>
