<h3>History</h3>
<ul>
  <% household.household_membership_audits.each do |audit| %>
  <li>
    <%= audit.member %> <%= audit.event %> the household on <%= audit.created_at %>
  </li>
<% end %>
</ul>

